{% extends 'blog/base2.html' %}
{% load static %}
{% block content %}

    <body>
        <!-- navigation panel -->
        <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom nav-white" role="navigation">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-md-2 pull-left"><a class="logo-light" href="index.html">Sungbin</a><a class="logo-dark" href="index.html">Sungbin's Blog</a></div>
                    <!-- end logo -->
                    <!-- search and cart  -->
                    <div class="col-md-2 no-padding-left search-cart-header pull-right">
                        <div id="top-search">
                            <!-- nav search -->
                            <a href="#search-header" class="header-search-form"><i class="fa fa-search search-button"></i></a>
                            <!-- end nav search -->
                        </div>
                        <!-- search input-->
                        <form id="search-header" method="post" action="#" name="search-header" class="mfp-hide search-form-result">
                            <div class="search-form position-relative">
                                <button type="submit" class="fa fa-search close-search search-button"></button>
                                <input type="text" name="search" class="search-input" placeholder="Enter your keywords..." autocomplete="off">
                            </div>
                        </form>
                        <!-- end search input -->
                        
                    <!-- end search and cart  -->
                    <!-- toggle navigation -->
                    <div class="navbar-header col-sm-8 col-xs-2 pull-right">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <!-- toggle navigation end -->
                    <!-- main menu -->
                    
                </div>
            </div>
        </nav>
        <!--end navigation panel --> 

        <!-- head section -->
        <section class="page-title parallax3 parallax-fix page-title-large">
            <div class=""></div>
            <img class="parallax-background-img" src="{% static 'images/background2.jpg' %}" width="1920" height="1000" alt="1920x1000" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center animated fadeInUp">
                        <div class="separator-line bg-yellow no-margin-top margin-four"></div>
                        <!-- page title -->
                        <h1 class="white-text">Portfolio / With Title Four column</h1>
                        <!-- end page title -->
                        <!-- page title tagline -->
                        <span class="white-text">Lorem Ipsum is simply dummy text of the printing.</span>
                        <!-- end title tagline -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end head section -->

        <!-- portfolio section -->
        <section class="work-4col gutter work-with-title wide wide-title no-margin-top content-section">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12 grid-gallery overflow-hidden no-padding" >
                        <div class="tab-content">
                            <!-- work grid -->
                            <ul class="grid masonry-items">
                                <!-- work item ( external page ) -->
                                <li class="html magento">
                                    <figure>
                                        <div class="gallery-img"><a href="/static/images/pw1.png"><img src="{% static 'images/pw1.png' %}"></a></div>
                                        <figcaption>
                                            
                                            <h3><a href="/static/images/pw1.png">Technical Skills</a></h3>
                                            
                                        </figcaption>
                                    </figure>
                                </li>                                <li class="html magento">
                                    <figure>
                                        <div class="gallery-img"><a href="/static/images/pw2.png"><img src="{% static 'images/pw2.png' %}"></a></div>
                                        <figcaption>
                                            
                                            <h3><a href="">Education</a></h3>
                                            
                                        </figcaption>
                                    </figure>
                                </li>                                <li class="html magento">
                                    <figure>
                                        <div class="gallery-img"><a href="/1"><img src="{% static 'images/pw3.png' %}" height="500"></a></div>
                                        <figcaption>
                                            
                                            <h3><a href="/1">Codepedia</a></h3>
                                            
                                        </figcaption>
                                    </figure>
                                </li>                                <li class="html magento">
                                    <figure>
                                        <div class="gallery-img"><a href="/2"><img src="{% static 'images/pw4.png' %}"></a></div>
                                        <figcaption>
                                            
                                            <h3><a href="/2">Samsung 해커톤에서 임직원들과 함께진행한 프로젝트</a></h3>
                                            <p>MACFORYOU!</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item ( lightbox gallery ) -->
                                 <li class="html magento">
                                    <figure>
                                        <div class="gallery-img"><a href="/3"><img src="{% static 'images/event1.png' %}"></a></div>
                                        <figcaption>
                                            
                                            <h3><a href="/3">Node.js로 만들어본 코딩과외 사이트</a></h3>
                                            <p>EventBrite처럼 모임을 만들고 참여할 수 있다!</p>
                                        </figcaption>
                                    </figure>

                                
                                <!-- end work item -->
                                <!-- work item -->
                                <li class="html jquery wordpress">
                                    <figure>
                                        <div class="gallery-img"><a href="/5"><img src="{% static 'images/bitcoin.png' %}"" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="/5">비트코인 기사를 크롤링해 주가를 예측</a></h3>
                                            <p></p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item -->
                                <li class="html wordpress">
                                    <figure>
                                        <div class="gallery-img"><a href="/4"><img src="{% static 'images/stock.jpeg' %}" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="/4">FbProphet Library를 이용해 주가 예측 사이트를 구현해 보았다</a></h3>
                                            <p>주가 종목 크롤링</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item -->
                                <li class="jquery magento wordpress">

                                </li>
                                <!-- end work item -->
                                re>
                                </li>
                                <!-- end work item -->
                                <!-- work item -->
                                <li class="html magento">
                                    <figure>
                                        <div class="gallery-img"><a href="/6"><img src="{% static 'images/tapas.png' %}" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="/6">Tapas 연극추천 서비스</a></h3>
                                            <p>Branding &amp; 연극예매 추천!</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item -->
                                <li class="html jquery">
                                    <figure>
                                        <div class="gallery-img"><a href="/static/images/playlist1.png"><img src="{% static 'images/playlist1.png' %}" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="single-project-page2.html">연애플레이리스트 외주</a></h3>
                                            <p>연플리 1월달!</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item -->
                                <li class="html jquery">
                                    <figure>
                                        <div class="gallery-img"><a href="/static/images/playlist2.PNG"><img src="{% static 'images/playlist2.PNG' %}" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="/static/images/playlist2.PNG">연애플레이리스트 2월달</a></h3>
                                            <p>뉴스레터</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- work item -->
                                <li class="magento jquery">
                                    <figure>
                                        <div class="gallery-img"><a href="/7"><img src="{% static 'images/movie.png' %}" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="/7">영화 관련 R 프로젝트</a></h3>
                                            
                                        </figcaption>
                                    </figure>
                                </li>
                                                                <li class="magento jquery">
                                    <figure>
                                        <div class="gallery-img"><a href="/8"><img src="{% static 'images/crime.png' %}" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="/8l">Crime in Seoul</a></h3>
                                            <p>R 프로젝트</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                            </ul>
                            <!-- end work grid -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- end portfolio section -->

        <!-- new project -->
        <section class="new-project no-padding-top">
            <div class="container">
                <div class="row center-col text-center wow fadeInUp">
                    <div class="separator-line bg-yellow no-margin-top margin-five"></div>
                    <h5>I Love Projects!</h5>
                    <a class="btn highlight-button-black-border margin-four no-margin-bottom no-margin-lr" href="#">By 안성빈</a>
                </div>
            </div>
        </section>
        <!-- end new project -->

        <!-- footer -->
        <footer>
            <div class=" bg-white footer-top">
                <div class="container">
                    <div class="row margin-four">
                        <!-- phone -->
                        <div class="col-md-4 col-sm-4 text-center"><i class="icon-phone small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">010-2515-1245</h6></div>
                        <!-- end phone -->
                        <!-- address -->
                        <div class="col-md-4 col-sm-4 text-center"><i class="icon-map-pin small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">서울대입구역, 피치트리</h6></div>
                        <!-- end address -->
                        <!-- email -->
                        <div class="col-md-4 col-sm-4 text-center"><i class="icon-envelope small-icon black-text"></i><h6 class="margin-two no-margin-bottom"><a href="#" class="black-text">wd1kr1@gmail.com</a></h6></div>
                        <!-- end email -->
                    </div>
                </div>
            </div>
            
            <div class="container-fluid bg-dark-gray footer-bottom">
                <div class="container">
                    <div class="row margin-three">
                        <!-- copyright -->
                        <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
                            AHN SUNG BIN
                            <p>My friends: 박주환, 송민규
                        </div>
                        <!-- end copyright -->
                        <!-- logo -->
                        <div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
                            <a href="/" style="color:white;">Sungbin's Blog</a>
                        </div>
                        <!-- end logo -->
                    </div>
                </div>
            </div>
            <!-- scroll to top --> 
            <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a> 
            <!-- scroll to top End... --> 
        </footer>
        <!-- end footer -->

    </body>
</html>
{% endblock %}