{% extends 'blog/base2.html' %}
{% load static %}
{% block content %}

 


        <!-- content section -->
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <!-- content  -->
                    <div class="col-md-8 col-sm-8">
                        <!-- post title  -->
                        <h2 class="blog-details-headline text-black">네이버 다음 기사를 키워드별로 크롤링해 실시간으로 현재 키워드 단어 갯수를 그래프로 보여줌</h2>
                        <!-- end post title  -->
                        <!-- post date and categories  -->
                        <div class="blog-date no-padding-top">Posted by Sungbin Ahn| 02 July 2017 | Bitcoin</div>
                        <!-- end date and categories   -->
                        <!-- post image -->
                        <div class="blog-image margin-eight"><img src="{% static 'images/bitcoin.png' %}"  alt="" ></div>
                        <!-- end post image -->
                        <!-- post details text -->
                        <div class="blog-details-text">
                            <p class="text-large">주식 및 비트코인 주가에 영향을 받는 가장 큰 요소 중 하나를 뽑으라면 기사가 항상 빠지지 않습는다. 그 만큼 기사는 주가에 매우 큰 영향을 줍니다. 그러나 지금까지 차트 분석, 알고리즘 분석으로 주가를 예측하는 시스템은 많이 있어왔지만, 기사 기반으로 주가를 예측하는 시스템은 아직 발달 되지 않았단느 생각에 기반하여 만들어 본 것이 BitCast입니다. </p>
                            <div class="blog-image bg-white">
                                <!-- post details blockquote -->
                                <blockquote class="bg-gray">
                                    <p>BitCast는 키워드를 입력하면 그 키워드에 해당하는 기사수를 실시간으로 차트로 만들어 보여줍니다. 그리고 어던 키워드 수가 유저가 입력한 키워드 수를 넘으면 자동으로 유저에게 sms로 보내져서 유저가 이를 보고 주가가 오를 지 내려갈 지 누구보다 빠르게 먼저 알 수 있도록 구현했습니다. 학기 중에는 지금까지 했던 프로젝트 기능을 기반으로 원래 목표로 했던 실제 기사 키워드와 비트코인 주가를 분석하여 어더한 상관관계가 있는 지 알아보고 이를 예측하는 모델로 활용할 예정입니다.</p>
                                    <footer>안성빈</footer>
                                    <a href = 'https://github.com/CoinDetector/bitcast'>https://github.com/CoinDetector/bitcast</a>
                                </blockquote>
                                <!-- end post details blockquote -->
                            </div>
                            
                            <div class="blog-date no-padding-top margin-eight no-margin-bottom">
                                <!-- post tags -->
                                <h5 class="widget-title margin-one no-margin-top">Tags</h5>
                                <a href="blog-masonry-3columns.html">Advertisement</a>, <a href="blog-masonry-3columns.html">Smart Quotes</a>, <a href="blog-masonry-3columns.html">Unique</a>, <a href="blog-masonry-3columns.html">Design</a> </div>
                            <!-- end post tags -->
                        </div>
                        <!-- end post details text -->
                        
                        <!-- social icon -->
                        <div class="text-center border-bottom margin-ten padding-four no-margin-top">
                            <a href="#" class="btn social-icon social-icon-large button"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn social-icon social-icon-large button"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn social-icon social-icon-large button"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="btn social-icon social-icon-large button"><i class="fa fa-tumblr"></i></a>
                            <a href="#" class="btn social-icon social-icon-large button"><i class="fa fa-instagram"></i></a>
                        </div>
                        <!-- end social icon -->
                        <!-- post comment -->
                        <div class="blog-comment-main xs-no-padding-top">
                            <h5 class="widget-title">Blog Comments</h5>
                            <div class="blog-comment">
                                <a class="comment-avtar"><img src="http://placehold.it/300x300" alt=""></a>
                                <div class="comment-text overflow-hidden position-relative">
                                    <p class="blog-date no-padding-top"><a href="#">Nathan Ford</a>, March 09, 2015 <a href="#addcomment" class="comment-reply inner-link">Reply</a></p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                                <div class="blog-comment clearfix">
                                    <a class="comment-avtar"><img src="http://placehold.it/300x300" alt=""></a>
                                    <div class="comment-text overflow-hidden position-relative">
                                        <p class="blog-date no-padding-top"><a href="#">Paul Scrivens</a>, March 09, 2015 <a href="#addcomment" class="comment-reply inner-link">Reply</a></p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-comment">
                                <a class="comment-avtar"><img src="http://placehold.it/300x300" alt=""></a>
                                <div class="comment-text overflow-hidden position-relative">
                                    <p class="blog-date no-padding-top"><a href="#">Colin Powell</a>, March 07, 2015 <a href="#addcomment" class="comment-reply inner-link">Reply</a></p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end post comment -->
                        <!-- comment form -->
                        <div id="addcomment" class="blog-comment-form-main">
                            <h5 class="widget-title margin-five no-margin-top">Add a comment</h5>
                            <div class="blog-comment-form">
                                <form>
                                    <!-- input -->
                                    <input type="text" name="name" placeholder="Name">
                                    <!-- end input -->
                                    <!-- input  -->
                                    <input type="text" name="email" placeholder="Email">
                                    <!-- end input -->
                                    <!-- input  -->
                                    <input type="text" name="website" placeholder="Website">
                                    <!-- end input -->
                                    <!-- textarea  -->
                                    <textarea name="comment" placeholder="Comment"></textarea>
                                    <!-- end textarea  -->
                                    <!-- required  -->
                                    <span class="required">*Please complete all fields correctly</span>
                                    <!-- end required  -->
                                    <!-- button  -->
                                    <input type="submit" name="send message" value="send message" class="highlight-button-dark btn btn-small no-margin-bottom">
                                    <!-- end button  -->
                                </form>
                            </div>
                        </div>
                        <!-- end comment form -->
                    </div>
                    <!-- end content  -->
                    <!-- sidebar  -->
                    <div class="col-md-3 col-sm-4 col-md-offset-1 sidebar xs-margin-top-ten">
                        <!-- widget  -->
                        <div class="widget">
                            <form>
                                <i class="fa fa-search close-search search-button"></i>
                                <input type="text" placeholder="Search..." class="search-input" name="search">
                            </form>
                        </div>
                        <!-- end widget  -->
                        <!-- widget  -->
                        <div class="widget">
                            <h5 class="widget-title font-alt">Categories</h5>
                            <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
                            <div class="widget-body">
                                <ul class="category-list">
                                    <li><a href="blog-masonry-3columns.html">Web Design <span>48</span></a></li>
                                    <li><a href="blog-masonry-3columns.html">Featured Blog<span>25</span></a></li>
                                    <li><a href="blog-masonry-3columns.html">Photography Idea<span>32</span></a></li>
                                    <li><a href="blog-masonry-3columns.html">Design Tutorials<span>38</span></a></li>
                                    <li><a href="blog-masonry-3columns.html">News and Events<span>40</span></a></li>
                                    <li><a href="blog-masonry-3columns.html">Arts and Entertainment<span>28</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end widget  -->
                        <!-- widget  -->
                        <div class="widget">
                            <h5 class="widget-title font-alt">Popular posts</h5>
                            <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
                            <div class="widget-body">
                                <ul class="widget-posts">
                                    <li class="clearfix">
                                        <a href="blog-single-right-sidebar.html"><img src="http://placehold.it/480x358" alt=""/></a>
                                        <div class="widget-posts-details"><a href="blog-single-right-sidebar.html">Elements of a Launch Page</a> Simon Schmid - 02 January</div>
                                    </li>
                                    <li class="clearfix">
                                        <a href="blog-single-right-sidebar.html"><img src="http://placehold.it/480x358" alt=""/></a>
                                        <div class="widget-posts-details"><a href="blog-single-right-sidebar.html">The Art of Design Etiquette</a> Paul Scrivens - 06 January</div>
                                    </li>
                                    <li class="clearfix">
                                        <a href="blog-single-right-sidebar.html"><img src="http://placehold.it/480x358" alt=""/></a>
                                        <div class="widget-posts-details"><a href="blog-single-right-sidebar.html">Easier is Better</a> Paul Boag - 08 January</div>
                                    </li>
                                    <li class="clearfix">
                                        <a href="blog-single-right-sidebar.html"><img src="http://placehold.it/480x358" alt=""/></a>
                                        <div class="widget-posts-details"><a href="blog-single-right-sidebar.html">Successful Websites</a> Simon Schmid - 16 January</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- end widget  -->
                        <!-- widget  -->
                        <div class="widget">
                            <h5 class="widget-title font-alt">Tags Cloud</h5>
                            <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
                            <div class="widget-body tags">
                                <a href="blog-masonry-3columns.html">Advertisement</a>
                                <a href="blog-masonry-3columns.html">Blog</a>
                                <a href="blog-masonry-3columns.html">Fashion</a>
                                <a href="blog-masonry-3columns.html">Inspiration</a>
                                <a href="blog-masonry-3columns.html">Smart Quotes</a>
                                <a href="blog-masonry-3columns.html">Conceptual</a>
                                <a href="blog-masonry-3columns.html">Artistry</a>
                                <a href="blog-masonry-3columns.html">Unique</a>
                            </div>
                        </div>
                        <!-- end widget  -->
                        <!-- widget  -->
                        <div class="widget">
                            <h5 class="widget-title font-alt">Recent Comments</h5>
                            <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
                            <div class="widget-body">
                                <ul class="widget-posts">
                                    <li class="clearfix">
                                        <div class="widget-posts-details"><a href="blog-single-right-sidebar.html">Elements of A Launch Page</a> Simon Schmid - 02 January</div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="widget-posts-details"><a href="blog-single-right-sidebar.html">The Art of Design Etiquette</a> Paul Scrivens - 06 January</div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="widget-posts-details"><a href="blog-single-right-sidebar.html">Easier is Better Than Better</a> Paul Boag - 08 January</div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="widget-posts-details"><a href="blog-single-right-sidebar.html">Creating Successful Websites</a> Simon Schmid - 16 January</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end widget  -->
                        <!-- widget  -->
                        <div class="widget">
                            <h5 class="widget-title font-alt">Text Widget</h5>
                            <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
                            <div class="widget-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                        <!-- end widget  -->
                        <!-- widget  -->
                        <div class="widget">
                            <h5 class="widget-title font-alt">Archive</h5>
                            <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
                            <div class="widget-body">
                                <ul class="category-list">
                                    <li><a href="blog-masonry-3columns.html">December 2014<span>48</span></a></li>
                                    <li><a href="blog-masonry-3columns.html">January 2015<span>25</span></a></li>
                                    <li><a href="blog-masonry-3columns.html">February 2015<span>32</span></a></li>
                                    <li><a href="blog-masonry-3columns.html">March 2015<span>38</span></a></li>
                                    <li><a href="blog-masonry-3columns.html">April 2015<span>40</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end widget  -->
                    </div>
                    <!-- end sidebar  -->
                </div>
            </div>
        </section>
        <!-- end content section -->

        <!-- footer -->
        <footer>
            <div class=" bg-white footer-top">
                <div class="container">
                    <div class="row margin-four">
                        <!-- phone -->
                        <div class="col-md-4 col-sm-4 text-center"><i class="icon-phone small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">123-456-7890</h6></div>
                        <!-- end phone -->
                        <!-- address -->
                        <div class="col-md-4 col-sm-4 text-center"><i class="icon-map-pin small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">Victoria, United States</h6></div>
                        <!-- end address -->
                        <!-- email -->
                        <div class="col-md-4 col-sm-4 text-center"><i class="icon-envelope small-icon black-text"></i><h6 class="margin-two no-margin-bottom"><a href="mailto:no-reply@domain.com" class="black-text">no-reply@domain.com</a></h6></div>
                        <!-- end email -->
                    </div>
                </div>
            </div>
            <div class="container footer-middle">
                <div class="row">
                    <div class="col-md-3 col-sm-3 footer-link1 xs-display-none">
                        <!-- headline -->
                        <h5>About Us</h5>
                        <!-- end headline -->
                        <!-- text -->
                        <p class="footer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <!-- end text -->
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4 footer-link2 col-md-offset-3">
                        <!-- headline -->
                        <h5>Company</h5>
                        <!-- end headline -->
                        <!-- link -->
                        <ul>
                            <li><a href="about-us.html">About Company</a></li>
                            <li><a href="about-us.html">What We Do</a></li>
                            <li><a href="about-us.html">What We Think</a></li>
                            <li><a href="careers.html">Careers</a></li>
                        </ul>
                        <!-- end link -->
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4  footer-link3">
                        <!-- headline -->
                        <h5>Services</h5>
                        <!-- end headline -->
                        <!-- link -->
                        <ul>
                            <li><a href="services.html">Web Development</a></li>
                            <li><a href="services.html">Graphic Design</a></li>
                            <li><a href="services.html">Copywriting</a></li>
                            <li><a href="services.html">Online Marketing</a></li>
                        </ul>
                        <!-- end link -->
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4  footer-link4">
                        <!-- headline -->
                        <h5>Introduction</h5>
                        <!-- end headline -->
                        <!-- link -->
                        <ul>
                            <li><a href="team-members.html">Team Members</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="our-clients.html">Our Clients</a></li>
                            <li><a href="careers.html">Careers With Us</a></li>
                        </ul>
                        <!-- end link -->
                    </div>
                </div>
                <div class="wide-separator-line bg-mid-gray no-margin-lr margin-three no-margin-bottom"></div>
                <div class="row margin-four no-margin-bottom">
                    <div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
                        <!-- link -->
                        <ul class="list-inline footer-link text-uppercase">
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="blog-masonry-3columns.html">Blog</a></li>
                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                        <!-- end link -->
                    </div>
                    <div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">
                        <!-- social media link -->
                        <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
                        <a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        <!-- end social media link -->
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-dark-gray footer-bottom">
                <div class="container">
                    <div class="row margin-three">
                        <!-- copyright -->
                        <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
                            &copy; 2015 H-Code is proudly powered by ThemeZaa.
                        </div>
                        <!-- end copyright -->
                        <!-- logo -->
                        <div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
                            <a href="index.html"><img src="images/logo-light-gray.png" alt=""/></a>
                        </div>
                        <!-- end logo -->
                    </div>
                </div>
            </div>
            <!-- scroll to top --> 
            <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a> 
            <!-- scroll to top End... --> 
        </footer>
        <!-- end footer -->



    </body>
</html>
{% endblock %}