{% load static %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Sungbin's Blog</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Quadra is a super easy customizing, creative, professional design, bootstrap responsive and high performance website template and 700+ pages for multi-purpose using to agencies, portfolio, photographers and your all wishes." />
    <!--Keywords -->
    <meta name="keywords" content="modern, creative, website, html5, bootstrap responsive, parallax, soft, front-end, designer, coming soon, account, portfolio, photographer, grid, social, modules, design, personal, faq, one page, multi-purpose, branding, studio, agency, templates, css3, carousel, slider, corporate, theme, quadra, demos, blog, shop, template" />
    <meta name="author" content="GoldEyes" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <!--Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}"/>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}"/>
    <!-- Main Styles -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}"/>
    <!-- Index Styles -->
    <link rel="stylesheet" href="{% static 'content/index/css/index.css' %}" />

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <!-- MAIN SCRIPTS - Classic scripts for all theme -->
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <!-- Scripts for only this page - index -->
    <script type="text/javascript" src="{% static 'content/index/js/plugins.js' %}"></script>
    <!-- END JS FILES -->

    </head>

{% block content %}

{% endblock %}
